<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>VVL</key>
	<string>V_V_L_.glif</string>
	<key>VVLL</key>
	<string>V_V_L_L_.glif</string>
	<key>_Vll</key>
	<string>_V_ll.glif</string>
	<key>_i1</key>
	<string>_i1.glif</string>
	<key>_i2</key>
	<string>_i2.glif</string>
	<key>_i3</key>
	<string>_i3.glif</string>
	<key>_ii1</key>
	<string>_ii1.glif</string>
	<key>_ii2</key>
	<string>_ii2.glif</string>
	<key>_ii3</key>
	<string>_ii3.glif</string>
	<key>_oo2</key>
	<string>_oo2.glif</string>
	<key>_u1</key>
	<string>_u1.glif</string>
	<key>_u3</key>
	<string>_u3.glif</string>
	<key>_u4</key>
	<string>_u4.glif</string>
	<key>_u5</key>
	<string>_u5.glif</string>
	<key>_uu1</key>
	<string>_uu1.glif</string>
	<key>_uu3</key>
	<string>_uu3.glif</string>
	<key>_uu4</key>
	<string>_uu4.glif</string>
	<key>_uu5</key>
	<string>_uu5.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>dottedCircle</key>
	<string>dottedC_ircle.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>repha</key>
	<string>repha.glif</string>
	<key>repha2</key>
	<string>repha2.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>sinA</key>
	<string>sinA_.glif</string>
	<key>sinAa</key>
	<string>sinA_a.glif</string>
	<key>sinAae</key>
	<string>sinA_ae.glif</string>
	<key>sinAe</key>
	<string>sinA_e.glif</string>
	<key>sinAi</key>
	<string>sinA_i.glif</string>
	<key>sinAnusvara</key>
	<string>sinA_nusvara.glif</string>
	<key>sinAu</key>
	<string>sinA_u.glif</string>
	<key>sinBI</key>
	<string>sinB_I_.glif</string>
	<key>sinBIi</key>
	<string>sinB_I_i.glif</string>
	<key>sinBR.virama</key>
	<string>sinB_R_.virama.glif</string>
	<key>sinBRI</key>
	<string>sinB_R_I_.glif</string>
	<key>sinBRIi</key>
	<string>sinB_R_I_i.glif</string>
	<key>sinBRa</key>
	<string>sinB_R_a.glif</string>
	<key>sinBa</key>
	<string>sinB_a.glif</string>
	<key>sinBa.virama</key>
	<string>sinB_a.virama.glif</string>
	<key>sinBha</key>
	<string>sinB_ha.glif</string>
	<key>sinCI</key>
	<string>sinC_I_.glif</string>
	<key>sinCIi</key>
	<string>sinC_I_i.glif</string>
	<key>sinCR.virama</key>
	<string>sinC_R_.virama.glif</string>
	<key>sinCRI</key>
	<string>sinC_R_I_.glif</string>
	<key>sinCRIi</key>
	<string>sinC_R_I_i.glif</string>
	<key>sinCRa</key>
	<string>sinC_R_a.glif</string>
	<key>sinCa</key>
	<string>sinC_a.glif</string>
	<key>sinCa.virama</key>
	<string>sinC_a.virama.glif</string>
	<key>sinChI</key>
	<string>sinC_hI_.glif</string>
	<key>sinChIi</key>
	<string>sinC_hI_i.glif</string>
	<key>sinChR.virama</key>
	<string>sinC_hR_.virama.glif</string>
	<key>sinChRI</key>
	<string>sinC_hR_I_.glif</string>
	<key>sinChRIi</key>
	<string>sinC_hR_I_i.glif</string>
	<key>sinChRa</key>
	<string>sinC_hR_a.glif</string>
	<key>sinCha</key>
	<string>sinC_ha.glif</string>
	<key>sinCha.virama</key>
	<string>sinC_ha.virama.glif</string>
	<key>sinDI</key>
	<string>sinD_I_.glif</string>
	<key>sinDIi</key>
	<string>sinD_I_i.glif</string>
	<key>sinDRI</key>
	<string>sinD_R_I_.glif</string>
	<key>sinDRIi</key>
	<string>sinD_R_I_i.glif</string>
	<key>sinDRa</key>
	<string>sinD_R_a.glif</string>
	<key>sinDU</key>
	<string>sinD_U_.glif</string>
	<key>sinDUu</key>
	<string>sinD_U_u.glif</string>
	<key>sinDa</key>
	<string>sinD_a.glif</string>
	<key>sinDdI</key>
	<string>sinD_dI_.glif</string>
	<key>sinDdIi</key>
	<string>sinD_dI_i.glif</string>
	<key>sinDdR.virama</key>
	<string>sinD_dR_.virama.glif</string>
	<key>sinDdRI</key>
	<string>sinD_dR_I_.glif</string>
	<key>sinDdRIi</key>
	<string>sinD_dR_I_i.glif</string>
	<key>sinDdRa</key>
	<string>sinD_dR_a.glif</string>
	<key>sinDda</key>
	<string>sinD_da.glif</string>
	<key>sinDda.virama</key>
	<string>sinD_da.virama.glif</string>
	<key>sinDdhI</key>
	<string>sinD_dhI_.glif</string>
	<key>sinDdhIi</key>
	<string>sinD_dhI_i.glif</string>
	<key>sinDdhRI</key>
	<string>sinD_dhR_I_.glif</string>
	<key>sinDdhRIi</key>
	<string>sinD_dhR_I_i.glif</string>
	<key>sinDdhRa</key>
	<string>sinD_dhR_a.glif</string>
	<key>sinDdha</key>
	<string>sinD_dha.glif</string>
	<key>sinDhI</key>
	<string>sinD_hI_.glif</string>
	<key>sinDhIi</key>
	<string>sinD_hI_i.glif</string>
	<key>sinDhR.virama</key>
	<string>sinD_hR_.virama.glif</string>
	<key>sinDhRI</key>
	<string>sinD_hR_I_.glif</string>
	<key>sinDhRIi</key>
	<string>sinD_hR_I_i.glif</string>
	<key>sinDhRa</key>
	<string>sinD_hR_a.glif</string>
	<key>sinDha</key>
	<string>sinD_ha.glif</string>
	<key>sinDha.virama</key>
	<string>sinD_ha.virama.glif</string>
	<key>sinE</key>
	<string>sinE_.glif</string>
	<key>sinEe</key>
	<string>sinE_e.glif</string>
	<key>sinFa</key>
	<string>sinF_a.glif</string>
	<key>sinGa</key>
	<string>sinG_a.glif</string>
	<key>sinGha</key>
	<string>sinG_ha.glif</string>
	<key>sinHa</key>
	<string>sinH_a.glif</string>
	<key>sinI</key>
	<string>sinI_.glif</string>
	<key>sinIi</key>
	<string>sinI_i.glif</string>
	<key>sinJI</key>
	<string>sinJ_I_.glif</string>
	<key>sinJIi</key>
	<string>sinJ_I_i.glif</string>
	<key>sinJR.virama</key>
	<string>sinJ_R_.virama.glif</string>
	<key>sinJRI</key>
	<string>sinJ_R_I_.glif</string>
	<key>sinJRIi</key>
	<string>sinJ_R_I_i.glif</string>
	<key>sinJRa</key>
	<string>sinJ_R_a.glif</string>
	<key>sinJa</key>
	<string>sinJ_a.glif</string>
	<key>sinJa.virama</key>
	<string>sinJ_a.virama.glif</string>
	<key>sinJhI</key>
	<string>sinJ_hI_.glif</string>
	<key>sinJhIi</key>
	<string>sinJ_hI_i.glif</string>
	<key>sinJhR.virama</key>
	<string>sinJ_hR_.virama.glif</string>
	<key>sinJhRI</key>
	<string>sinJ_hR_I_.glif</string>
	<key>sinJhRIi</key>
	<string>sinJ_hR_I_i.glif</string>
	<key>sinJhRa</key>
	<string>sinJ_hR_a.glif</string>
	<key>sinJha</key>
	<string>sinJ_ha.glif</string>
	<key>sinJha.virama</key>
	<string>sinJ_ha.virama.glif</string>
	<key>sinJnyU</key>
	<string>sinJ_nyU_.glif</string>
	<key>sinJnyUu</key>
	<string>sinJ_nyU_u.glif</string>
	<key>sinJnya</key>
	<string>sinJ_nya.glif</string>
	<key>sinJnya.virama</key>
	<string>sinJ_nya.virama.glif</string>
	<key>sinKI</key>
	<string>sinK_I_.glif</string>
	<key>sinKIi</key>
	<string>sinK_I_i.glif</string>
	<key>sinKR.virama</key>
	<string>sinK_R_.virama.glif</string>
	<key>sinKRI</key>
	<string>sinK_R_I_.glif</string>
	<key>sinKRIi</key>
	<string>sinK_R_I_i.glif</string>
	<key>sinKRa</key>
	<string>sinK_R_a.glif</string>
	<key>sinKSsa</key>
	<string>sinK_S_sa.glif</string>
	<key>sinKU</key>
	<string>sinK_U_.glif</string>
	<key>sinKUu</key>
	<string>sinK_U_u.glif</string>
	<key>sinKa</key>
	<string>sinK_a.glif</string>
	<key>sinKa.virama</key>
	<string>sinK_a.virama.glif</string>
	<key>sinKhI</key>
	<string>sinK_hI_.glif</string>
	<key>sinKhIi</key>
	<string>sinK_hI_i.glif</string>
	<key>sinKhR.virama</key>
	<string>sinK_hR_.virama.glif</string>
	<key>sinKhRI</key>
	<string>sinK_hR_I_.glif</string>
	<key>sinKhRIi</key>
	<string>sinK_hR_I_i.glif</string>
	<key>sinKhRa</key>
	<string>sinK_hR_a.glif</string>
	<key>sinKha</key>
	<string>sinK_ha.glif</string>
	<key>sinKha.virama</key>
	<string>sinK_ha.virama.glif</string>
	<key>sinKunddaliya</key>
	<string>sinK_unddaliya.glif</string>
	<key>sinLU</key>
	<string>sinL_U_.glif</string>
	<key>sinLUu</key>
	<string>sinL_U_u.glif</string>
	<key>sinLa</key>
	<string>sinL_a.glif</string>
	<key>sinLlU</key>
	<string>sinL_lU_.glif</string>
	<key>sinLlUu</key>
	<string>sinL_lU_u.glif</string>
	<key>sinLla</key>
	<string>sinL_la.glif</string>
	<key>sinMI</key>
	<string>sinM_I_.glif</string>
	<key>sinMIi</key>
	<string>sinM_I_i.glif</string>
	<key>sinMR.virama</key>
	<string>sinM_R_.virama.glif</string>
	<key>sinMRI</key>
	<string>sinM_R_I_.glif</string>
	<key>sinMRIi</key>
	<string>sinM_R_I_i.glif</string>
	<key>sinMRa</key>
	<string>sinM_R_a.glif</string>
	<key>sinMa</key>
	<string>sinM_a.glif</string>
	<key>sinMa.virama</key>
	<string>sinM_a.virama.glif</string>
	<key>sinMatraAa</key>
	<string>sinM_atraA_a.glif</string>
	<key>sinMatraAae</key>
	<string>sinM_atraA_ae.glif</string>
	<key>sinMatraAe</key>
	<string>sinM_atraA_e.glif</string>
	<key>sinMatraAi</key>
	<string>sinM_atraA_i.glif</string>
	<key>sinMatraAu</key>
	<string>sinM_atraA_u.glif</string>
	<key>sinMatraE</key>
	<string>sinM_atraE_.glif</string>
	<key>sinMatraEe</key>
	<string>sinM_atraE_e.glif</string>
	<key>sinMatraI</key>
	<string>sinM_atraI_.glif</string>
	<key>sinMatraIi</key>
	<string>sinM_atraI_i.glif</string>
	<key>sinMatraLs</key>
	<string>sinM_atraL_s.glif</string>
	<key>sinMatraO</key>
	<string>sinM_atraO_.glif</string>
	<key>sinMatraOo</key>
	<string>sinM_atraO_o.glif</string>
	<key>sinMatraU</key>
	<string>sinM_atraU_.glif</string>
	<key>sinMatraUu</key>
	<string>sinM_atraU_u.glif</string>
	<key>sinMatraVocalicL</key>
	<string>sinM_atraV_ocalicL_.glif</string>
	<key>sinMatraVocalicR</key>
	<string>sinM_atraV_ocalicR_.glif</string>
	<key>sinMbI</key>
	<string>sinM_bI_.glif</string>
	<key>sinMbIi</key>
	<string>sinM_bI_i.glif</string>
	<key>sinMba</key>
	<string>sinM_ba.glif</string>
	<key>sinMba.virama</key>
	<string>sinM_ba.virama.glif</string>
	<key>sinNDRa</key>
	<string>sinN_D_R_a.glif</string>
	<key>sinNDU</key>
	<string>sinN_D_U_.glif</string>
	<key>sinNDUu</key>
	<string>sinN_D_U_u.glif</string>
	<key>sinNDa</key>
	<string>sinN_D_a.glif</string>
	<key>sinNa</key>
	<string>sinN_a.glif</string>
	<key>sinNdI</key>
	<string>sinN_dI_.glif</string>
	<key>sinNdIi</key>
	<string>sinN_dI_i.glif</string>
	<key>sinNdU</key>
	<string>sinN_dU_.glif</string>
	<key>sinNdUu</key>
	<string>sinN_dU_u.glif</string>
	<key>sinNda</key>
	<string>sinN_da.glif</string>
	<key>sinNdja</key>
	<string>sinN_dja.glif</string>
	<key>sinNga</key>
	<string>sinN_ga.glif</string>
	<key>sinNga.virama</key>
	<string>sinN_ga.virama.glif</string>
	<key>sinNnI</key>
	<string>sinN_nI_.glif</string>
	<key>sinNnIi</key>
	<string>sinN_nI_i.glif</string>
	<key>sinNna</key>
	<string>sinN_na.glif</string>
	<key>sinNna.virama</key>
	<string>sinN_na.virama.glif</string>
	<key>sinNnddI</key>
	<string>sinN_nddI_.glif</string>
	<key>sinNnddIi</key>
	<string>sinN_nddI_i.glif</string>
	<key>sinNndda</key>
	<string>sinN_ndda.glif</string>
	<key>sinNndda.virama</key>
	<string>sinN_ndda.virama.glif</string>
	<key>sinNnga</key>
	<string>sinN_nga.glif</string>
	<key>sinNyU</key>
	<string>sinN_yU_.glif</string>
	<key>sinNyUu</key>
	<string>sinN_yU_u.glif</string>
	<key>sinNya</key>
	<string>sinN_ya.glif</string>
	<key>sinO</key>
	<string>sinO_.glif</string>
	<key>sinOo</key>
	<string>sinO_o.glif</string>
	<key>sinPa</key>
	<string>sinP_a.glif</string>
	<key>sinPhI</key>
	<string>sinP_hI_.glif</string>
	<key>sinPhIi</key>
	<string>sinP_hI_i.glif</string>
	<key>sinPhRI</key>
	<string>sinP_hR_I_.glif</string>
	<key>sinPhRIi</key>
	<string>sinP_hR_I_i.glif</string>
	<key>sinPhRa</key>
	<string>sinP_hR_a.glif</string>
	<key>sinPha</key>
	<string>sinP_ha.glif</string>
	<key>sinRAae</key>
	<string>sinR_A_ae.glif</string>
	<key>sinRAe</key>
	<string>sinR_A_e.glif</string>
	<key>sinRI</key>
	<string>sinR_I_.glif</string>
	<key>sinRIi</key>
	<string>sinR_I_i.glif</string>
	<key>sinRU</key>
	<string>sinR_U_.glif</string>
	<key>sinRUu</key>
	<string>sinR_U_u.glif</string>
	<key>sinRa</key>
	<string>sinR_a.glif</string>
	<key>sinRa.virama</key>
	<string>sinR_a.virama.glif</string>
	<key>sinRakar</key>
	<string>sinR_akar.glif</string>
	<key>sinRakar.alt1</key>
	<string>sinR_akar.alt1.glif</string>
	<key>sinSa</key>
	<string>sinS_a.glif</string>
	<key>sinShRIi</key>
	<string>sinS_hR_I_i.glif</string>
	<key>sinSha</key>
	<string>sinS_ha.glif</string>
	<key>sinSsa</key>
	<string>sinS_sa.glif</string>
	<key>sinTa</key>
	<string>sinT_a.glif</string>
	<key>sinThI</key>
	<string>sinT_hI_.glif</string>
	<key>sinThIi</key>
	<string>sinT_hI_i.glif</string>
	<key>sinThRI</key>
	<string>sinT_hR_I_.glif</string>
	<key>sinThRIi</key>
	<string>sinT_hR_I_i.glif</string>
	<key>sinThRa</key>
	<string>sinT_hR_a.glif</string>
	<key>sinTha</key>
	<string>sinT_ha.glif</string>
	<key>sinTtI</key>
	<string>sinT_tI_.glif</string>
	<key>sinTtIi</key>
	<string>sinT_tI_i.glif</string>
	<key>sinTtR.virama</key>
	<string>sinT_tR_.virama.glif</string>
	<key>sinTtRI</key>
	<string>sinT_tR_I_.glif</string>
	<key>sinTtRIi</key>
	<string>sinT_tR_I_i.glif</string>
	<key>sinTtRa</key>
	<string>sinT_tR_a.glif</string>
	<key>sinTta</key>
	<string>sinT_ta.glif</string>
	<key>sinTta.virama</key>
	<string>sinT_ta.virama.glif</string>
	<key>sinTthI</key>
	<string>sinT_thI_.glif</string>
	<key>sinTthIi</key>
	<string>sinT_thI_i.glif</string>
	<key>sinTthRI</key>
	<string>sinT_thR_I_.glif</string>
	<key>sinTthRIi</key>
	<string>sinT_thR_I_i.glif</string>
	<key>sinTthRa</key>
	<string>sinT_thR_a.glif</string>
	<key>sinTtha</key>
	<string>sinT_tha.glif</string>
	<key>sinU</key>
	<string>sinU_.glif</string>
	<key>sinUu</key>
	<string>sinU_u.glif</string>
	<key>sinVI</key>
	<string>sinV_I_.glif</string>
	<key>sinVIi</key>
	<string>sinV_I_i.glif</string>
	<key>sinVR.virama</key>
	<string>sinV_R_.virama.glif</string>
	<key>sinVRI</key>
	<string>sinV_R_I_.glif</string>
	<key>sinVRIi</key>
	<string>sinV_R_I_i.glif</string>
	<key>sinVRa</key>
	<string>sinV_R_a.glif</string>
	<key>sinVa</key>
	<string>sinV_a.glif</string>
	<key>sinVa.virama</key>
	<string>sinV_a.virama.glif</string>
	<key>sinVirama</key>
	<string>sinV_irama.glif</string>
	<key>sinVisarga</key>
	<string>sinV_isarga.glif</string>
	<key>sinVocalicR</key>
	<string>sinV_ocalicR_.glif</string>
	<key>sinVocalicRr</key>
	<string>sinV_ocalicR_r.glif</string>
	<key>sinYa</key>
	<string>sinY_a.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni0000</key>
	<string>uni0000.glif</string>
	<key>yans</key>
	<string>yans.glif</string>
	<key>yans.u</key>
	<string>yans.u.glif</string>
	<key>yans.uu</key>
	<string>yans.uu.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
