<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>65240C22-C1EC-453B-A9C6-1C0D96F74C77</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>CR</string>
		<string>VVL</string>
		<string>VVLL</string>
		<string>_Vll</string>
		<string>_i1</string>
		<string>_i2</string>
		<string>_i3</string>
		<string>_ii1</string>
		<string>_ii2</string>
		<string>_ii3</string>
		<string>_oo2</string>
		<string>_u1</string>
		<string>_u3</string>
		<string>_u4</string>
		<string>_u5</string>
		<string>_uu1</string>
		<string>_uu3</string>
		<string>_uu4</string>
		<string>_uu5</string>
		<string>asciicircum</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>colon</string>
		<string>comma</string>
		<string>dottedCircle</string>
		<string>eight</string>
		<string>equal</string>
		<string>exclam</string>
		<string>five</string>
		<string>four</string>
		<string>grave</string>
		<string>greater</string>
		<string>hyphen</string>
		<string>k.ssa</string>
		<string>less</string>
		<string>n.dR</string>
		<string>n.dU</string>
		<string>n.dUu</string>
		<string>n.da</string>
		<string>nbspace</string>
		<string>nine</string>
		<string>numbersign</string>
		<string>one</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>percent</string>
		<string>period</string>
		<string>plus</string>
		<string>question</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>rakar</string>
		<string>rakar2</string>
		<string>repha</string>
		<string>repha2</string>
		<string>semicolon</string>
		<string>seven</string>
		<string>sinA</string>
		<string>sinAa</string>
		<string>sinAae</string>
		<string>sinAe</string>
		<string>sinAi</string>
		<string>sinAnusvara</string>
		<string>sinAu</string>
		<string>sinBI</string>
		<string>sinBIi</string>
		<string>sinBR.virama</string>
		<string>sinBRI</string>
		<string>sinBRIi</string>
		<string>sinBRa</string>
		<string>sinBa</string>
		<string>sinBa.virama</string>
		<string>sinBha</string>
		<string>sinCI</string>
		<string>sinCIi</string>
		<string>sinCR.virama</string>
		<string>sinCRI</string>
		<string>sinCRIi</string>
		<string>sinCRa</string>
		<string>sinCa</string>
		<string>sinCa.virama</string>
		<string>sinChI</string>
		<string>sinChIi</string>
		<string>sinChR.virama</string>
		<string>sinChRI</string>
		<string>sinChRIi</string>
		<string>sinChRa</string>
		<string>sinCha</string>
		<string>sinCha.virama</string>
		<string>sinDI</string>
		<string>sinDIi</string>
		<string>sinDRI</string>
		<string>sinDRIi</string>
		<string>sinDRa</string>
		<string>sinDU</string>
		<string>sinDUu</string>
		<string>sinDa</string>
		<string>sinDdI</string>
		<string>sinDdIi</string>
		<string>sinDdR.virama</string>
		<string>sinDdRI</string>
		<string>sinDdRIi</string>
		<string>sinDdRa</string>
		<string>sinDda</string>
		<string>sinDda.virama</string>
		<string>sinDdhI</string>
		<string>sinDdhIi</string>
		<string>sinDdhRI</string>
		<string>sinDdhRIi</string>
		<string>sinDdhRa</string>
		<string>sinDdha</string>
		<string>sinDhI</string>
		<string>sinDhIi</string>
		<string>sinDhR.virama</string>
		<string>sinDhRI</string>
		<string>sinDhRIi</string>
		<string>sinDhRa</string>
		<string>sinDha</string>
		<string>sinDha.virama</string>
		<string>sinE</string>
		<string>sinEe</string>
		<string>sinFa</string>
		<string>sinGa</string>
		<string>sinGha</string>
		<string>sinHa</string>
		<string>sinI</string>
		<string>sinIi</string>
		<string>sinJI</string>
		<string>sinJIi</string>
		<string>sinJR.virama</string>
		<string>sinJRI</string>
		<string>sinJRIi</string>
		<string>sinJRa</string>
		<string>sinJa</string>
		<string>sinJa.virama</string>
		<string>sinJhI</string>
		<string>sinJhIi</string>
		<string>sinJhR.virama</string>
		<string>sinJhRI</string>
		<string>sinJhRIi</string>
		<string>sinJhRa</string>
		<string>sinJha</string>
		<string>sinJha.virama</string>
		<string>sinJnyU</string>
		<string>sinJnyUu</string>
		<string>sinJnya</string>
		<string>sinJnya.virama</string>
		<string>sinKI</string>
		<string>sinKIi</string>
		<string>sinKR.virama</string>
		<string>sinKRI</string>
		<string>sinKRIi</string>
		<string>sinKRa</string>
		<string>sinKU</string>
		<string>sinKUu</string>
		<string>sinKa</string>
		<string>sinKa.virama</string>
		<string>sinKhI</string>
		<string>sinKhIi</string>
		<string>sinKhR.virama</string>
		<string>sinKhRI</string>
		<string>sinKhRIi</string>
		<string>sinKhRa</string>
		<string>sinKha</string>
		<string>sinKha.virama</string>
		<string>sinKunddaliya</string>
		<string>sinLU</string>
		<string>sinLUu</string>
		<string>sinLa</string>
		<string>sinLlU</string>
		<string>sinLlUu</string>
		<string>sinLla</string>
		<string>sinMI</string>
		<string>sinMIi</string>
		<string>sinMR.virama</string>
		<string>sinMRI</string>
		<string>sinMRIi</string>
		<string>sinMRa</string>
		<string>sinMa</string>
		<string>sinMa.virama</string>
		<string>sinMatraAa</string>
		<string>sinMatraAae</string>
		<string>sinMatraAe</string>
		<string>sinMatraAi</string>
		<string>sinMatraAu</string>
		<string>sinMatraE</string>
		<string>sinMatraEe</string>
		<string>sinMatraI</string>
		<string>sinMatraIi</string>
		<string>sinMatraLs</string>
		<string>sinMatraO</string>
		<string>sinMatraOo</string>
		<string>sinMatraU</string>
		<string>sinMatraUu</string>
		<string>sinMatraVocalicL</string>
		<string>sinMatraVocalicR</string>
		<string>sinMbI</string>
		<string>sinMbIi</string>
		<string>sinMba</string>
		<string>sinMba.virama</string>
		<string>sinNa</string>
		<string>sinNdI</string>
		<string>sinNdIi</string>
		<string>sinNdU</string>
		<string>sinNdUu</string>
		<string>sinNda</string>
		<string>sinNdja</string>
		<string>sinNga</string>
		<string>sinNga.virama</string>
		<string>sinNnI</string>
		<string>sinNnIi</string>
		<string>sinNna</string>
		<string>sinNna.virama</string>
		<string>sinNnddI</string>
		<string>sinNnddIi</string>
		<string>sinNndda</string>
		<string>sinNndda.virama</string>
		<string>sinNnga</string>
		<string>sinNyU</string>
		<string>sinNyUu</string>
		<string>sinNya</string>
		<string>sinO</string>
		<string>sinOo</string>
		<string>sinPa</string>
		<string>sinPhI</string>
		<string>sinPhIi</string>
		<string>sinPhRI</string>
		<string>sinPhRIi</string>
		<string>sinPhRa</string>
		<string>sinPha</string>
		<string>sinRAae</string>
		<string>sinRAe</string>
		<string>sinRI</string>
		<string>sinRIi</string>
		<string>sinRU</string>
		<string>sinRUu</string>
		<string>sinRa</string>
		<string>sinRa.virama</string>
		<string>sinSa</string>
		<string>sinShRIi</string>
		<string>sinSha</string>
		<string>sinSsa</string>
		<string>sinTa</string>
		<string>sinThI</string>
		<string>sinThIi</string>
		<string>sinThRI</string>
		<string>sinThRIi</string>
		<string>sinThRa</string>
		<string>sinTha</string>
		<string>sinTtI</string>
		<string>sinTtIi</string>
		<string>sinTtR.virama</string>
		<string>sinTtRI</string>
		<string>sinTtRIi</string>
		<string>sinTtRa</string>
		<string>sinTta</string>
		<string>sinTta.virama</string>
		<string>sinTthI</string>
		<string>sinTthIi</string>
		<string>sinTthRI</string>
		<string>sinTthRIi</string>
		<string>sinTthRa</string>
		<string>sinTtha</string>
		<string>sinU</string>
		<string>sinUu</string>
		<string>sinVI</string>
		<string>sinVIi</string>
		<string>sinVR.virama</string>
		<string>sinVRI</string>
		<string>sinVRIi</string>
		<string>sinVRa</string>
		<string>sinVa</string>
		<string>sinVa.virama</string>
		<string>sinVirama</string>
		<string>sinVisarga</string>
		<string>sinVocalicR</string>
		<string>sinVocalicRr</string>
		<string>sinYa</string>
		<string>six</string>
		<string>slash</string>
		<string>space</string>
		<string>three</string>
		<string>two</string>
		<string>underscore</string>
		<string>uni0000</string>
		<string>yans</string>
		<string>yans.u</string>
		<string>yans.uu</string>
		<string>zero</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthnonjoiner</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>CR</string>
		<string>VVL</string>
		<string>VVLL</string>
		<string>_Vll</string>
		<string>_i1</string>
		<string>_i2</string>
		<string>_i3</string>
		<string>_ii1</string>
		<string>_ii2</string>
		<string>_ii3</string>
		<string>_oo2</string>
		<string>_u1</string>
		<string>_u3</string>
		<string>_u4</string>
		<string>_u5</string>
		<string>_uu1</string>
		<string>_uu3</string>
		<string>_uu4</string>
		<string>_uu5</string>
		<string>asciicircum</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>colon</string>
		<string>comma</string>
		<string>dottedCircle</string>
		<string>eight</string>
		<string>equal</string>
		<string>exclam</string>
		<string>five</string>
		<string>four</string>
		<string>grave</string>
		<string>greater</string>
		<string>hyphen</string>
		<string>less</string>
		<string>nbspace</string>
		<string>nine</string>
		<string>numbersign</string>
		<string>one</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>percent</string>
		<string>period</string>
		<string>plus</string>
		<string>question</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>repha</string>
		<string>repha2</string>
		<string>semicolon</string>
		<string>seven</string>
		<string>sinA</string>
		<string>sinAa</string>
		<string>sinAae</string>
		<string>sinAe</string>
		<string>sinAi</string>
		<string>sinAnusvara</string>
		<string>sinAu</string>
		<string>sinBI</string>
		<string>sinBIi</string>
		<string>sinBR.virama</string>
		<string>sinBRI</string>
		<string>sinBRIi</string>
		<string>sinBRa</string>
		<string>sinBa</string>
		<string>sinBa.virama</string>
		<string>sinBha</string>
		<string>sinCI</string>
		<string>sinCIi</string>
		<string>sinCR.virama</string>
		<string>sinCRI</string>
		<string>sinCRIi</string>
		<string>sinCRa</string>
		<string>sinCa</string>
		<string>sinCa.virama</string>
		<string>sinChI</string>
		<string>sinChIi</string>
		<string>sinChR.virama</string>
		<string>sinChRI</string>
		<string>sinChRIi</string>
		<string>sinChRa</string>
		<string>sinCha</string>
		<string>sinCha.virama</string>
		<string>sinDI</string>
		<string>sinDIi</string>
		<string>sinDRI</string>
		<string>sinDRIi</string>
		<string>sinDRa</string>
		<string>sinDU</string>
		<string>sinDUu</string>
		<string>sinDa</string>
		<string>sinDdI</string>
		<string>sinDdIi</string>
		<string>sinDdR.virama</string>
		<string>sinDdRI</string>
		<string>sinDdRIi</string>
		<string>sinDdRa</string>
		<string>sinDda</string>
		<string>sinDda.virama</string>
		<string>sinDdhI</string>
		<string>sinDdhIi</string>
		<string>sinDdhRI</string>
		<string>sinDdhRIi</string>
		<string>sinDdhRa</string>
		<string>sinDdha</string>
		<string>sinDhI</string>
		<string>sinDhIi</string>
		<string>sinDhR.virama</string>
		<string>sinDhRI</string>
		<string>sinDhRIi</string>
		<string>sinDhRa</string>
		<string>sinDha</string>
		<string>sinDha.virama</string>
		<string>sinE</string>
		<string>sinEe</string>
		<string>sinFa</string>
		<string>sinGa</string>
		<string>sinGha</string>
		<string>sinHa</string>
		<string>sinI</string>
		<string>sinIi</string>
		<string>sinJI</string>
		<string>sinJIi</string>
		<string>sinJR.virama</string>
		<string>sinJRI</string>
		<string>sinJRIi</string>
		<string>sinJRa</string>
		<string>sinJa</string>
		<string>sinJa.virama</string>
		<string>sinJhI</string>
		<string>sinJhIi</string>
		<string>sinJhR.virama</string>
		<string>sinJhRI</string>
		<string>sinJhRIi</string>
		<string>sinJhRa</string>
		<string>sinJha</string>
		<string>sinJha.virama</string>
		<string>sinJnyU</string>
		<string>sinJnyUu</string>
		<string>sinJnya</string>
		<string>sinJnya.virama</string>
		<string>sinKI</string>
		<string>sinKIi</string>
		<string>sinKR.virama</string>
		<string>sinKRI</string>
		<string>sinKRIi</string>
		<string>sinKRa</string>
		<string>sinKU</string>
		<string>sinKUu</string>
		<string>sinKa</string>
		<string>sinKa.virama</string>
		<string>sinKhI</string>
		<string>sinKhIi</string>
		<string>sinKhR.virama</string>
		<string>sinKhRI</string>
		<string>sinKhRIi</string>
		<string>sinKhRa</string>
		<string>sinKha</string>
		<string>sinKha.virama</string>
		<string>sinKunddaliya</string>
		<string>sinLU</string>
		<string>sinLUu</string>
		<string>sinLa</string>
		<string>sinLlU</string>
		<string>sinLlUu</string>
		<string>sinLla</string>
		<string>sinMI</string>
		<string>sinMIi</string>
		<string>sinMR.virama</string>
		<string>sinMRI</string>
		<string>sinMRIi</string>
		<string>sinMRa</string>
		<string>sinMa</string>
		<string>sinMa.virama</string>
		<string>sinMatraAa</string>
		<string>sinMatraAae</string>
		<string>sinMatraAe</string>
		<string>sinMatraAi</string>
		<string>sinMatraAu</string>
		<string>sinMatraE</string>
		<string>sinMatraEe</string>
		<string>sinMatraI</string>
		<string>sinMatraIi</string>
		<string>sinMatraLs</string>
		<string>sinMatraO</string>
		<string>sinMatraOo</string>
		<string>sinMatraU</string>
		<string>sinMatraUu</string>
		<string>sinMatraVocalicL</string>
		<string>sinMatraVocalicR</string>
		<string>sinMbI</string>
		<string>sinMbIi</string>
		<string>sinMba</string>
		<string>sinMba.virama</string>
		<string>sinNa</string>
		<string>sinNdI</string>
		<string>sinNdIi</string>
		<string>sinNdU</string>
		<string>sinNdUu</string>
		<string>sinNda</string>
		<string>sinNdja</string>
		<string>sinNga</string>
		<string>sinNga.virama</string>
		<string>sinNnI</string>
		<string>sinNnIi</string>
		<string>sinNna</string>
		<string>sinNna.virama</string>
		<string>sinNnddI</string>
		<string>sinNnddIi</string>
		<string>sinNndda</string>
		<string>sinNndda.virama</string>
		<string>sinNnga</string>
		<string>sinNyU</string>
		<string>sinNyUu</string>
		<string>sinNya</string>
		<string>sinO</string>
		<string>sinOo</string>
		<string>sinPa</string>
		<string>sinPhI</string>
		<string>sinPhIi</string>
		<string>sinPhRI</string>
		<string>sinPhRIi</string>
		<string>sinPhRa</string>
		<string>sinPha</string>
		<string>sinRAae</string>
		<string>sinRAe</string>
		<string>sinRI</string>
		<string>sinRIi</string>
		<string>sinRU</string>
		<string>sinRUu</string>
		<string>sinRa</string>
		<string>sinRa.virama</string>
		<string>sinSa</string>
		<string>sinShRIi</string>
		<string>sinSha</string>
		<string>sinSsa</string>
		<string>sinTa</string>
		<string>sinThI</string>
		<string>sinThIi</string>
		<string>sinThRI</string>
		<string>sinThRIi</string>
		<string>sinThRa</string>
		<string>sinTha</string>
		<string>sinTtI</string>
		<string>sinTtIi</string>
		<string>sinTtR.virama</string>
		<string>sinTtRI</string>
		<string>sinTtRIi</string>
		<string>sinTtRa</string>
		<string>sinTta</string>
		<string>sinTta.virama</string>
		<string>sinTthI</string>
		<string>sinTthIi</string>
		<string>sinTthRI</string>
		<string>sinTthRIi</string>
		<string>sinTthRa</string>
		<string>sinTtha</string>
		<string>sinU</string>
		<string>sinUu</string>
		<string>sinVI</string>
		<string>sinVIi</string>
		<string>sinVR.virama</string>
		<string>sinVRI</string>
		<string>sinVRIi</string>
		<string>sinVRa</string>
		<string>sinVa</string>
		<string>sinVa.virama</string>
		<string>sinVirama</string>
		<string>sinVisarga</string>
		<string>sinVocalicR</string>
		<string>sinVocalicRr</string>
		<string>sinYa</string>
		<string>six</string>
		<string>slash</string>
		<string>space</string>
		<string>three</string>
		<string>two</string>
		<string>underscore</string>
		<string>uni0000</string>
		<string>yans</string>
		<string>yans.u</string>
		<string>yans.uu</string>
		<string>zero</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthnonjoiner</string>
		<string>sinKSsa</string>
		<string>sinNDa</string>
		<string>sinRakar</string>
		<string>sinRakar.alt1</string>
		<string>sinNDUu</string>
		<string>sinNDU</string>
		<string>sinNDRa</string>
	</array>
</dict>
</plist>
